*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid black; */
}

:root {
  --bg-tan: #dedbd2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3em;
  background-color: var(--bg-tan);
}

#controls-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
}

button {
  background-color: #efefef;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  border-radius: 100px;
}

/* .no-drag {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* MOBILE */
@media only screen and (max-width: 640px) {
  body {
    display: flex;
    position: static;
    flex-direction: column;
    gap: 1em;
    /* width: 100vw; */
    /* height: 100vh; */
  }

  #controls-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    /* border: 2px solid black; */
  }

  canvas {
    /* padding: 1em; */
  }

  button {
    width: calc(100vw / 3);
  }
}

/* TABLETS */
@media only screen and (max-width: 1024px) {
}
